.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store
*.log
streamlit.err
streamlit.log
*.pth
models/
!models/
!models/final_model_20251106_142153.pth
data/
.results/
*.sqlite3
*.egg-info/
.ipynb_checkpoints/
.vscode/
